body {
	background-color: azure;
	overflow: hidden;
}

h1 {
	font-family: 'Vollkorn', serif;
	text-align: center;
}

p {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

form {
	text-align: center;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

img {
	height: auto;
	float: none;
}